<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between
    }
    .cont-2 {
      width:  calc(100% - 320px);
      height:  100%;
      position: absolute;
      left: 320px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    select {
        border-radius: 10px;
        border: 2px solid var(--slider, #628EFF);
        background: var(--NavBar, #000);
        color: white;
        padding: 10px;
        font-size: 16px;
    }

    option {
        background: var(--NavBar, #000);
        color: white;
    }
    .header{
      display: flex;
      align-items: center;
      height: 10%;
      color: white;
      font-size: 64px;
      font-family: Inter;
      font-weight: 600;
      line-height: 24px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    table {
        width: 90%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #000000;
        padding: 8px;
        text-align: center;
        background-color: #f2f2f2;
    }

    th {
        font-weight: bold;
    }

</style>

<div class="cont">
    {% include './components/navbar-teacher.html' %}
    <div class="cont-2">
        <div class="header">
        </div>
        <table border="1">
          <thead>
            <tr>

              <th>Студенты</th> <!-- Заголовок для столбца с именами студентов -->
              {% for collection_name in collection_names.items() %}
                <th>{{ collection_name[1] }}</th> <!-- Заголовки для столбцов с названиями тестов -->
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for student_id, student_name in names_dict.items() %}
              <tr>
                <td>{{ student_name }}</td> <!-- Имя студента -->
                {% for test_group_course_id, test_score in result_table.items() %}
                  {% if student_id in test_score %}
                    <td>{{ test_score[student_id] }}</td> <!-- Оценка студента по соответствующему тесту -->
                  {% else %}
                    <td>не решён</td> <!-- Если для студента нет оценки по текущему тесту -->
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>
</html>

