<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between
    }
    .cont-2 {
      width:  calc(100% - 320px);
      display: flex;
      justify-content: center;
      flex-direction: column
    }
    .cont-3 {
      left: 350px;
      top: 1%;
      position: absolute;
    }
    .cont-4 {
      width:  100%;
      align-items: center
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      display: inline-flex;
      margin: 1%;
      margin-top: 5%;
    }
    select {
        border-radius: 10px;
        border: 2px solid var(--slider, #628EFF);
        background: var(--NavBar, #000);
        color: white;
        padding: 10px;
        font-size: 16px;
    }

    option {
        background: var(--NavBar, #000);
        color: white;
    }
</style>

<div class="cont">
    {% include './components/navbar-teacher.html' %}
    <div class="cont-2">
        <div class="cont-4">
            {% from './components/teach_course.html' import render_course %}
            {% block content %}
            {% for course in courses_list %}
            {{ render_course(course) }}
            {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
</html>


