<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between
    }
    .cont-2 {
      width:  calc(100% - 320px);
      height:  100%;
      position: absolute;
      left: 320px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    select {
        border-radius: 10px;
        border: 2px solid var(--slider, #628EFF);
        background: var(--NavBar, #000);
        color: white;
        padding: 10px;
        font-size: 16px;
    }

    option {
        background: var(--NavBar, #000);
        color: white;
    }
    .header{
      display: flex;
      align-items: center;
      height: 10%;
      color: white;
      font-size: 64px;
      font-family: Inter;
      font-weight: 600;
      line-height: 24px;
    }
</style>

<div class="cont">
    {% include './components/navbar-teacher.html' %}
    <div class="cont-2">
        <div class="header">
            {{ groups_list[0]["course_name"] }}
        </div>
        {% from './components/teacher_groups.html' import render_groups %}
        {% block content %}
        {% for group in groups_list %}
        {{ render_groups(group) }}
        {% endfor %}
        {% endblock %}
    </div>
</div>
</html>


