<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Element</title>
    <style>
        .custom-element {
            width: 70%;
            height: 64px;
            background: #1D1D1D;
            border-radius: 10px;
            color: white;
            font-size: 24px;
            font-family: ABeeZee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            margin: 10px;
        }
         .cont{
        }
        .cont-2 {
          width:  calc(100% - 320px);
          height: 100%;
          position: absolute;
          left:320px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .block {
            width: calc(100% - 320px);
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            display: inline-flex;
            margin: 1%;
            flex-direction: column;
            }
        label {
            margin-top: 10px;
            font-size: 24px;
            color: white;
            font-family: ABeeZee;
        }
        input, select, button {
            margin-top: 5px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 20px;
            font-family: ABeeZee;
        }
        input{
         width: 40%;
        }
        button {
            cursor: pointer;
            background: linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
            color: white;
            transition: background 0.3s ease;
            font-weight: bold;
        }
        button:hover {
            background: #9139BD;
        }
        .color{
            padding:0px;
            width: 5%;
            border-radius: 8px;
        }
        #result {
            margin-top: 10px;
            font-size: 16px;
        }
    </style>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<body>
<div class="cont">
    {% include './components/navbar-teacher.html' %}
    <div class="cont-2">
    <form action="/admin/add_course" class="block" method="post">
        <label for="name">Название курса:</label>
        <input type="text" id="name" name="name" required>

        <label for="version">Версия курса:</label>
        <input type="number" id="version" name="version" step="0.01" required>

        <label for="avg_score">Средний балл:</label>
        <input type="number" id="avg_score"  min="0" name="avg_score" step="0.01" required>


        <label for="color">Выберите цвет:</label>
        <input type="color" class="color" id="color" name="color" value="#ff0000" onchange="changeColor()">

        <script>
          function changeColor() {
            var colorInput = document.getElementById("colorInput").value;
            var resultDiv = document.getElementById("result");
            resultDiv.innerHTML = "Выбранный цвет: " + colorInput;
          }
        </script>
        <label for="fullname">Полное название:</label>
        <input type="text" id="fullname" name="fullname" required>

        <button class="butt" type="submit">Создать курс</button>
    </form>
</div>
</div>
</body>
</html>
