<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Element</title>
    <style>
        .custom-element {
            width: 70%;
            height: 64px;
            background: #1D1D1D;
            border-radius: 10px;
            color: white;
            font-size: 24px;
            font-family: ABeeZee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            margin: 10px;
        }
        .cont{
        }
        .cont-2 {
          width:  calc(100% - 320px);
          height: 100%;
          position: absolute;
          left:320px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .block {
            width: calc(100% - 320px);
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            display: inline-flex;
            margin: 1%;
            flex-direction: column;
            }
        label {
            margin-top: 10px;
            font-size: 24px;
            color: white;
            font-family: ABeeZee;
        }
        input, select, button {
            margin-top: 5px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 20px;
            font-family: ABeeZee;
        }
        input{
         width: 40%;
        }
        button {
            cursor: pointer;
            background: linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
            color: white;
            transition: background 0.3s ease;
            font-weight: bold;
        }
        button:hover {
            background: #9139BD;
        }
        .color{
            padding:0px;
            width: 5%;
            border-radius: 8px;
        }
        #result {
            margin-top: 10px;
            font-size: 16px;
        }
        .butt{
        width: 200px;
        height: 80px;
        padding: 10px;
        }
    </style>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<body>
<div class="header"></div>
<div class="cont">
    {% include './components/navbar-teacher.html' %}
    <div class="cont-2">
    <form action="/admin/add_test_stat" class="block" method="post">
        <label for="student_id">ID студента:</label>
        <input type="text" id="student_id" name="student_id" required>

        <label for="course_id">ID курса:</label>
        <input type="text" id="course_id" name="course_id" required>

        <label for="test_group_course_id">ID  таблицы с тестом для курса:</label>
        <input type="text" id="test_group_course_id" name="test_group_course_id" required>

        <label for="collection_name">Название теста:</label>
        <input type="text" id="collection_name" name="collection_name" required>


        <label for="date">Дата прохождения:</label>
        <input type="text" id="date" name="date" required>

        <label for="total_time">Общее время (мм:сс):</label>
        <input type="text" id="total_time" name="total_time"  min="0" pattern="\d{2}:\d{2}" placeholder="ММ:СС" required>

        <label for="total_points">Общее количество баллов:</label>
        <input type="number" id="total_points"  min="0" name="total_points" step="0.01" required>

        <label for="successful_points">Количество успешных баллов:</label>
        <input type="number" id="successful_points"  min="0" name="successful_points" step="0.01" required>

        <button class="butt" type="submit">Добавить статистику теста</button>
    </form>
    </div>
</div>
<script>
  flatpickr("#date", {
    dateFormat: "d-m-Y",  // Устанавливаем желаемый формат даты
    locale: {
      firstDayOfWeek: 1,  // Неделя начинается с понедельника
      weekdays: {
        shorthand: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        longhand: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
      },
      months: {
        shorthand: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
      },
    },
  });
</script>
</body>
</html>