<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Element</title>
    <style>
        .custom-element {
            width: 70%;
            height: 64px;
            background: #1D1D1D;
            border-radius: 10px;
            color: white;
            font-size: 24px;
            font-family: ABeeZee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            margin: 10px;
        }
        .cont{
        }
        .cont-2 {
          width:  calc(100% - 320px);
          height: 100%;
          position: absolute;
          left:320px;
          top: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .block {
            width: calc(100% - 320px);
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            display: inline-flex;
            margin: 1%;
            flex-direction: column;
            }
        label {
            margin-top: 10px;
            font-size: 24px;
            color: white;
            font-family: ABeeZee;
        }
        input, select, button {
            margin-top: 5px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 20px;
            font-family: ABeeZee;
        }
        input{
         width: 40%;
        }
        button {
            cursor: pointer;
            background: linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
            color: white;
            transition: background 0.3s ease;
            font-weight: bold;
        }
        button:hover {
            background: #9139BD;
        }
        .color{
            padding:0px;
            width: 5%;
            border-radius: 8px;
        }
        #result {
            margin-top: 10px;
            font-size: 16px;
        }
        .butt{
        width: 200px;
        height: 50px;
        padding: 10px;
        }
    </style>
</head>

<body>
<div class="cont">
    {% include './components/navbar-teacher.html' %}
    <div class="cont-2">
    <form action="/admin/add_student" class="block" method="post">

        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>

        <label for="passwd">Пароль:</label>
        <input type="text" id="passwd" name="passwd" required>

        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required>

        <label for="telegram">Telegram:</label>
        <input type="text" id="telegram" name="telegram">

        <label for="fullname">fullname:</label>
        <input type="text" id="fullname" name="fullname">

        <label for="name_rp">Имя в родительном падеже:</label>
        <input type="text" id="name_rp" name="name_rp">

        <label for="gitlab">GitLab:</label>
        <input type="text" id="gitlab" name="gitlab">

        <label for="gitwork">GitWork:</label>
        <input type="text" id="gitwork" name="gitwork">

        <label for="years_over">Прошедшие года:</label>
        <input type="number" id="years_over"  min="0" name="years_over">

        <label for="completed_courses">Завершенные курсы:</label>
        <input type="number" id="completed_courses"  min="0" name="completed_courses">

        <label for="total_score">Общий балл:</label>
        <input type="number" id="total_score"  min="0" name="total_score">

        <label for="notice">Характеристика:</label>
        <input type="text" id="notice" name="notice">

        <label for="group_id">ID группы:</label>
        <input type="text" id="group_id" name="group_id" required>

        <label for="role_id">ID роли:</label>
        <input type="text" id="role_id" name="role_id" required>

        <button class="butt"  type="submit">Создать студента</button>
    </form>
    </div>
    </div>
</body>
</html>