<style>
    body {
      background-color: #333333;
      margin: 0;
      padding: 0;

    }

    .container-navbar {
      width: 320px;
      height: 100%;
      position: fixed;
      background: black;
    }

    .title-container {
      width: 295px;
      height: 70px;
      left: 5%;
      top: 3%;
      position: absolute;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 24px;
      display: inline-flex;
    }

    .title {
      width: 220px;
      text-align: center;
      color: white;
      font-size: 48px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 58px;
      word-wrap: break-word;
    }

    .categories {
      width: 260px;
      height: 370px;
      left: 10%;
      top: 15%;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      display: inline-flex;
      z-index: 4;
    }

    .category {
      background: transparent;
      border: none;
      justify-content: flex-start;
      gap: 19px;
      display: inline-flex;
      align-items: center;
    }

    .icon {
      width: 24px;
      height: 24px;
      position: relative;
    }

    .dot {
      width: 21px;
      height: 21px;
      left: 1px;
      top: 1px;
      position: absolute;
      background: white;
    }

    .line {
      width: 10px;
      height: 6px;
      left: 6.58px;
      top: 8.75px;
      position: absolute;
      background: white;
    }

    .text {
      color: white;
      font-size: 18px;
      font-family: Inter;
      font-weight: 500;
      word-wrap: break-word;
    }

    .logout {
      background: transparent;
      border: none;
      cursor: pointer;
      width: 135px;
      height: 30px;
      left: 20%;
      top: 90%;
      position: absolute;
      justify-content: center;
      align-items: center;
      gap: 19px;
      display: flex;
    }

    .logout-icon {
      width: 24px;
      height: 24px;
      position: relative;
    }

    .logout-dot {
      width: 14.10px;
      height: 20.54px;
      left: 8.15px;
      top: 1.73px;
      position: absolute;
      background: white;
    }

    .logout-line {
      width: 12px;
      left: 2.87px;
      top: 11.25px;
      position: absolute;
      background: white;
    }

    .logout-text {
      color: white;
      font-size: 18px;
      font-family: Inter;
      font-weight: 500;
      word-wrap: break-word;
    }
    button {
    cursor: pointer;
    background:  linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
    color: white;
    transition: background 0.3s ease;
    font-weight: bold;
    }

    button:hover {
    background: linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
    border-radius: 10px;
    }

    .butt_padding{
    width: 250px;
    height: 180px;
    padding-left: 40px;
    }
</style>
</head>
<form method="get">
    <div class="container-navbar">
        <div class="title-container">
            <div class="title">SkillRate</div>
        </div>
        <div class="categories">

            <button class="category butt_padding">
                <div class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z"
                              fill="white"/>
                        <path d="M7.3 15.24C7.1 15.24 7.0 15.19 6.8 15.08C6.54 14.83 6.48 14.36 6.73 14.03L9.1 10.94C9.4 10.57 9.8 10.33 10.28 10.27C10.7401 10.21 11.2101 10.34 11.5801 10.63L13.4101 12.07C13.4801 12.13 13.5501 12.13 13.6001 12.12C13.6401 12.12 13.7101 12.1 13.7701 12.02L16.0801 9.04001C16.3301 8.71001 16.8101 8.65001 17.1301 8.91001C17.4601 9.16001 17.5201 9.63001 17.2601 9.96001L14.9501 12.94C14.6601 13.31 14.2501 13.55 13.7801 13.6C13.3101 13.66 12.8501 13.53 12.4801 13.24L10.6501 11.8C10.5801 11.74 10.5001 11.74 10.4601 11.75C10.4201 11.75 10.3501 11.77 10.2901 11.85L7.91011 14.94C7.78011 15.14 7.56011 15.24 7.33011 15.24Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Мои курсы</div>

            </button>
            <button class="category butt_padding">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M15 23.6045H9C3.57 23.6045 1.25 21.2845 1.25 15.8545V9.85449C1.25 4.42449 3.57 2.10449 9 2.10449H15C20.43 2.10449 22.75 4.42449 22.75 9.85449V15.8545C22.75 21.2845 20.43 23.6045 15 23.6045ZM9 3.60449C4.39 3.60449 2.75 5.24449 2.75 9.85449V15.8545C2.75 20.4645 4.39 22.1045 9 22.1045H15C19.61 22.1045 21.25 20.4645 21.25 15.8545V9.85449C21.25 5.24449 19.61 3.60449 15 3.60449H9Z"
                              fill="white"/>
                        <path d="M12.0006 13.9342C11.8706 13.9342 11.7406 13.9042 11.6206 13.8342L6.32061 10.7742C5.96061 10.5642 5.84059 10.1042 6.05059 9.75419C6.26059 9.39419 6.72061 9.27419 7.07061 9.48419L11.9906 12.3342L16.8806 9.50419C17.2406 9.29419 17.7006 9.42419 17.9006 9.77419C18.1006 10.1242 17.9806 10.5942 17.6306 10.7942L12.3706 13.8342C12.2606 13.8942 12.1306 13.9342 12.0006 13.9342Z"
                              fill="white"/>
                        <path d="M12 19.3746C11.59 19.3746 11.25 19.0346 11.25 18.6246V13.1846C11.25 12.7746 11.59 12.4346 12 12.4346C12.41 12.4346 12.75 12.7746 12.75 13.1846V18.6246C12.75 19.0346 12.41 19.3746 12 19.3746Z"
                              fill="white"/>
                        <path d="M12.0002 19.6043C11.4202 19.6043 10.8503 19.4743 10.3903 19.2243L7.19025 17.4443C6.23025 16.9143 5.49023 15.6443 5.49023 14.5443V11.1543C5.49023 10.0643 6.24025 8.7943 7.19025 8.2543L10.3903 6.4743C11.3103 5.9643 12.6902 5.9643 13.6102 6.4743L16.8102 8.2543C17.7702 8.7843 18.5103 10.0543 18.5103 11.1543V14.5443C18.5103 15.6343 17.7602 16.9043 16.8102 17.4443L13.6102 19.2243C13.1502 19.4843 12.5802 19.6043 12.0002 19.6043ZM12.0002 7.6043C11.6702 7.6043 11.3502 7.6643 11.1202 7.7943L7.92026 9.5743C7.43026 9.8443 6.99023 10.6043 6.99023 11.1543V14.5443C6.99023 15.1043 7.43026 15.8543 7.92026 16.1243L11.1202 17.9043C11.5802 18.1643 12.4202 18.1643 12.8802 17.9043L16.0802 16.1243C16.5702 15.8543 17.0103 15.0943 17.0103 14.5443V11.1543C17.0103 10.5943 16.5702 9.8443 16.0802 9.5743L12.8802 7.7943C12.6502 7.6643 12.3302 7.6043 12.0002 7.6043Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Успеваемость</div>
            </button>
            <button class="category butt_padding">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M8.27 23.4585H4.23C2.22 23.4585 1.25 22.5285 1.25 20.6085V4.8085C1.25 2.8885 2.23 1.9585 4.23 1.9585H8.27C10.28 1.9585 11.25 2.8885 11.25 4.8085V20.6085C11.25 22.5285 10.27 23.4585 8.27 23.4585ZM4.23 3.4585C2.96 3.4585 2.75 3.7985 2.75 4.8085V20.6085C2.75 21.6185 2.96 21.9585 4.23 21.9585H8.27C9.54 21.9585 9.75 21.6185 9.75 20.6085V4.8085C9.75 3.7985 9.54 3.4585 8.27 3.4585H4.23Z"
                              fill="white"/>
                        <path d="M19.77 14.4585H15.73C13.72 14.4585 12.75 13.5285 12.75 11.6085V4.8085C12.75 2.8885 13.73 1.9585 15.73 1.9585H19.77C21.78 1.9585 22.75 2.8885 22.75 4.8085V11.6085C22.75 13.5285 21.77 14.4585 19.77 14.4585ZM15.73 3.4585C14.46 3.4585 14.25 3.7985 14.25 4.8085V11.6085C14.25 12.6185 14.46 12.9585 15.73 12.9585H19.77C21.04 12.9585 21.25 12.6185 21.25 11.6085V4.8085C21.25 3.7985 21.04 3.4585 19.77 3.4585H15.73Z"
                              fill="white"/>
                        <path d="M19.77 23.4585H15.73C13.72 23.4585 12.75 22.5285 12.75 20.6085V18.8085C12.75 16.8885 13.73 15.9585 15.73 15.9585H19.77C21.78 15.9585 22.75 16.8885 22.75 18.8085V20.6085C22.75 22.5285 21.77 23.4585 19.77 23.4585ZM15.73 17.4585C14.46 17.4585 14.25 17.7985 14.25 18.8085V20.6085C14.25 21.6185 14.46 21.9585 15.73 21.9585H19.77C21.04 21.9585 21.25 21.6185 21.25 20.6085V18.8085C21.25 17.7985 21.04 17.4585 19.77 17.4585H15.73Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Добавить курс</div>
            </button>
            <button class="category butt_padding">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M15 22.8955H9C3.57 22.8955 1.25 20.5755 1.25 15.1455V9.14551C1.25 3.71551 3.57 1.39551 9 1.39551H15C20.43 1.39551 22.75 3.71551 22.75 9.14551V15.1455C22.75 20.5755 20.43 22.8955 15 22.8955ZM9 2.89551C4.39 2.89551 2.75 4.53551 2.75 9.14551V15.1455C2.75 19.7555 4.39 21.3955 9 21.3955H15C19.61 21.3955 21.25 19.7555 21.25 15.1455V9.14551C21.25 4.53551 19.61 2.89551 15 2.89551H9Z"
                              fill="white"/>
                        <path d="M15.5801 19.3956C15.1701 19.3956 14.8301 19.0556 14.8301 18.6456V14.7456C14.8301 14.3356 15.1701 13.9956 15.5801 13.9956C15.9901 13.9956 16.3301 14.3356 16.3301 14.7456V18.6456C16.3301 19.0556 15.9901 19.3956 15.5801 19.3956Z"
                              fill="white"/>
                        <path d="M15.5801 8.34551C15.1701 8.34551 14.8301 8.00551 14.8301 7.59551V5.64551C14.8301 5.23551 15.1701 4.89551 15.5801 4.89551C15.9901 4.89551 16.3301 5.23551 16.3301 5.64551V7.59551C16.3301 8.00551 15.9901 8.34551 15.5801 8.34551Z"
                              fill="white"/>
                        <path d="M15.5805 13.5457C13.7305 13.5457 12.2305 12.0457 12.2305 10.1957C12.2305 8.3457 13.7305 6.8457 15.5805 6.8457C17.4305 6.8457 18.9305 8.3457 18.9305 10.1957C18.9305 12.0457 17.4205 13.5457 15.5805 13.5457ZM15.5805 8.3457C14.5605 8.3457 13.7305 9.1757 13.7305 10.1957C13.7305 11.2157 14.5605 12.0457 15.5805 12.0457C16.6005 12.0457 17.4305 11.2157 17.4305 10.1957C17.4305 9.1757 16.5905 8.3457 15.5805 8.3457Z"
                              fill="white"/>
                        <path d="M8.41992 19.3953C8.00992 19.3953 7.66992 19.0553 7.66992 18.6453V16.6953C7.66992 16.2853 8.00992 15.9453 8.41992 15.9453C8.82992 15.9453 9.16992 16.2853 9.16992 16.6953V18.6453C9.16992 19.0553 8.83992 19.3953 8.41992 19.3953Z"
                              fill="white"/>
                        <path d="M8.41992 10.2955C8.00992 10.2955 7.66992 9.95551 7.66992 9.54551V5.64551C7.66992 5.23551 8.00992 4.89551 8.41992 4.89551C8.82992 4.89551 9.16992 5.23551 9.16992 5.64551V9.54551C9.16992 9.95551 8.83992 10.2955 8.41992 10.2955Z"
                              fill="white"/>
                        <path d="M8.42031 17.4456C6.57031 17.4456 5.07031 15.9456 5.07031 14.0956C5.07031 12.2456 6.57031 10.7456 8.42031 10.7456C10.2703 10.7456 11.7703 12.2456 11.7703 14.0956C11.7703 15.9456 10.2703 17.4456 8.42031 17.4456ZM8.42031 12.2456C7.40031 12.2456 6.57031 13.0756 6.57031 14.0956C6.57031 15.1156 7.40031 15.9456 8.42031 15.9456C9.44031 15.9456 10.2703 15.1156 10.2703 14.0956C10.2703 13.0756 9.45031 12.2456 8.42031 12.2456Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Настройки</div>
            </button>
            <button class="category butt_padding">
                <div class="icon">
                    <svg width="123" height="24" viewBox="0 0 123 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12.75C8.83 12.75 6.25 10.17 6.25 7C6.25 3.83 8.83 1.25 12 1.25C15.17 1.25 17.75 3.83 17.75 7C17.75 10.17 15.17 12.75 12 12.75ZM12 2.75C9.66 2.75 7.75 4.66 7.75 7C7.75 9.34 9.66 11.25 12 11.25C14.34 11.25 16.25 9.34 16.25 7C16.25 4.66 14.34 2.75 12 2.75Z"
                              fill="white"/>
                        <path d="M20.5901 22.75C20.1801 22.75 19.8401 22.41 19.8401 22C19.8401 18.55 16.3202 15.75 12.0002 15.75C7.68015 15.75 4.16016 18.55 4.16016 22C4.16016 22.41 3.82016 22.75 3.41016 22.75C3.00016 22.75 2.66016 22.41 2.66016 22C2.66016 17.73 6.85015 14.25 12.0002 14.25C17.1502 14.25 21.3401 17.73 21.3401 22C21.3401 22.41 21.0001 22.75 20.5901 22.75Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Профиль</div>
            </button>
        </div>

        <button class="logout" formaction="/logout">
            <div class="logout-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.2386 22.2695H15.1086C10.6686 22.2695 8.52855 20.5195 8.15855 16.5995C8.11855 16.1895 8.41855 15.8195 8.83855 15.7795C9.23855 15.7395 9.61855 16.0495 9.65855 16.4595C9.94855 19.5995 11.4286 20.7695 15.1186 20.7695H15.2486C19.3186 20.7695 20.7586 19.3295 20.7586 15.2595V8.73949C20.7586 4.66949 19.3186 3.22949 15.2486 3.22949H15.1186C11.4086 3.22949 9.92855 4.41949 9.65855 7.61949C9.60855 8.02949 9.25855 8.33949 8.83855 8.29949C8.41855 8.26949 8.11855 7.89949 8.14855 7.48949C8.48855 3.50949 10.6386 1.72949 15.1086 1.72949H15.2386C20.1486 1.72949 22.2486 3.82949 22.2486 8.73949V15.2595C22.2486 20.1695 20.1486 22.2695 15.2386 22.2695Z"
                          fill="white"/>
                    <path d="M14.9991 12.75H3.61914C3.20914 12.75 2.86914 12.41 2.86914 12C2.86914 11.59 3.20914 11.25 3.61914 11.25H14.9991C15.4091 11.25 15.7491 11.59 15.7491 12C15.7491 12.41 15.4091 12.75 14.9991 12.75Z"
                          fill="white"/>
                    <path d="M5.84945 16.0998C5.65945 16.0998 5.46945 16.0298 5.31945 15.8798L1.96945 12.5298C1.67945 12.2398 1.67945 11.7598 1.96945 11.4698L5.31945 8.11984C5.60945 7.82984 6.08945 7.82984 6.37945 8.11984C6.66945 8.40984 6.66945 8.88984 6.37945 9.17984L3.55945 11.9998L6.37945 14.8198C6.66945 15.1098 6.66945 15.5898 6.37945 15.8798C6.23945 16.0298 6.03945 16.0998 5.84945 16.0998Z"
                          fill="white"/>
                </svg>
            </div>
            <div class="logout-text">Выход</div>
        </button>
    </div>
</form>
{% block content %}{% endblock content %}
