<style>
    body {
      background-color: #333333;
      margin: 0;
      padding: 0;

    }

    .container-navbar {
      width: 320px;
      height: 100%;
      position: fixed;
      background: black;
    }

    .title-container {
      width: 295px;
      height: 70px;
      left: 5%;
      top: 3%;
      position: absolute;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 24px;
      display: inline-flex;
    }

    .title {
      width: 220px;
      text-align: center;
      color: white;
      font-size: 48px;
      font-family: Roboto;
      font-weight: 700;
      line-height: 58px;
      word-wrap: break-word;
    }

    .categories {
      width: 260px;
      height: 370px;
      left: 10%;
      top: 15%;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      display: inline-flex;
      z-index: 4;
    }

    .category {
      background: transparent;
      border: none;
      justify-content: flex-start;
      gap: 19px;
      display: inline-flex;
      align-items: center;
    }

    .icon {
      width: 24px;
      height: 24px;
      position: relative;
    }

    .dot {
      width: 21px;
      height: 21px;
      left: 1px;
      top: 1px;
      position: absolute;
      background: white;
    }

    .line {
      width: 10px;
      height: 6px;
      left: 6.58px;
      top: 8.75px;
      position: absolute;
      background: white;
    }

    .text {
      color: white;
      font-size: 18px;
      font-family: Inter;
      font-weight: 500;
      word-wrap: break-word;
    }

    .logout {
      background: transparent;
      border: none;
      cursor: pointer;
      width: 135px;
      height: 30px;
      left: 20%;
      top: 90%;
      position: absolute;
      justify-content: center;
      align-items: center;
      gap: 19px;
      display: flex;
    }

    .logout-icon {
      width: 24px;
      height: 24px;
      position: relative;
    }

    .logout-dot {
      width: 14.10px;
      height: 20.54px;
      left: 8.15px;
      top: 1.73px;
      position: absolute;
      background: white;
    }

    .logout-line {
      width: 12px;
      left: 2.87px;
      top: 11.25px;
      position: absolute;
      background: white;
    }

    .logout-text {
      color: white;
      font-size: 18px;
      font-family: Inter;
      font-weight: 500;
      word-wrap: break-word;
    }
    button {
    cursor: pointer;
    background:  linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
    color: white;
    transition: background 0.3s ease;
    font-weight: bold;
    }

    button:hover {
    background: linear-gradient(91deg, #628EFF 2%, #9139BD 56%, #8401B2 100%);
    border-radius: 10px;
    }

    .butt_padding{
    width: 250px;
    height: 180px;
    padding-left: 40px;
    }
</style>
</head>
<form method="get">
    <div class="container-navbar">
        <div class="title-container">
            <div class="title">SkillRate</div>
        </div>
        <div class="categories ">

            <button class="category butt_padding" formaction="/student/stat/">
                <div class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 22.75H9C3.57 22.75 1.25 20.43 1.25 15V9C1.25 3.57 3.57 1.25 9 1.25H15C20.43 1.25 22.75 3.57 22.75 9V15C22.75 20.43 20.43 22.75 15 22.75ZM9 2.75C4.39 2.75 2.75 4.39 2.75 9V15C2.75 19.61 4.39 21.25 9 21.25H15C19.61 21.25 21.25 19.61 21.25 15V9C21.25 4.39 19.61 2.75 15 2.75H9Z"
                              fill="white"/>
                        <path d="M7.33011 15.24C7.17011 15.24 7.01011 15.19 6.87011 15.08C6.54011 14.83 6.48011 14.36 6.73011 14.03L9.11011 10.94C9.40011 10.57 9.81011 10.33 10.2801 10.27C10.7401 10.21 11.2101 10.34 11.5801 10.63L13.4101 12.07C13.4801 12.13 13.5501 12.13 13.6001 12.12C13.6401 12.12 13.7101 12.1 13.7701 12.02L16.0801 9.04001C16.3301 8.71001 16.8101 8.65001 17.1301 8.91001C17.4601 9.16001 17.5201 9.63001 17.2601 9.96001L14.9501 12.94C14.6601 13.31 14.2501 13.55 13.7801 13.6C13.3101 13.66 12.8501 13.53 12.4801 13.24L10.6501 11.8C10.5801 11.74 10.5001 11.74 10.4601 11.75C10.4201 11.75 10.3501 11.77 10.2901 11.85L7.91011 14.94C7.78011 15.14 7.56011 15.24 7.33011 15.24Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Мои успехи</div>
            </button>

            <button class="category butt_padding" formaction="/student/subjects/">
                <div class="icon">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.05 16.3332H11.17C9.84001 16.3332 8.75 15.2132 8.75 13.8332C8.75 13.4232 9.09 13.0832 9.5 13.0832C9.91 13.0832 10.25 13.4232 10.25 13.8332C10.25 14.3832 10.66 14.8332 11.17 14.8332H13.05C13.44 14.8332 13.75 14.4832 13.75 14.0532C13.75 13.5132 13.6 13.4332 13.26 13.3132L10.25 12.2632C9.61 12.0432 8.75 11.5732 8.75 10.1032C8.75 8.85324 9.74001 7.82324 10.95 7.82324H12.83C14.16 7.82324 15.25 8.94324 15.25 10.3232C15.25 10.7332 14.91 11.0732 14.5 11.0732C14.09 11.0732 13.75 10.7332 13.75 10.3232C13.75 9.77324 13.34 9.32324 12.83 9.32324H10.95C10.56 9.32324 10.25 9.67324 10.25 10.1032C10.25 10.6432 10.4 10.7232 10.74 10.8432L13.75 11.8932C14.39 12.1132 15.25 12.5832 15.25 14.0532C15.25 15.3132 14.26 16.3332 13.05 16.3332Z"
                              fill="white"/>
                        <path d="M12 17.333C11.59 17.333 11.25 16.993 11.25 16.583V7.58301C11.25 7.17301 11.59 6.83301 12 6.83301C12.41 6.83301 12.75 7.17301 12.75 7.58301V16.583C12.75 16.993 12.41 17.333 12 17.333Z"
                              fill="white"/>
                        <path d="M12 22.833C6.07 22.833 1.25 18.013 1.25 12.083C1.25 6.15301 6.07 1.33301 12 1.33301C12.41 1.33301 12.75 1.67301 12.75 2.08301C12.75 2.49301 12.41 2.83301 12 2.83301C6.9 2.83301 2.75 6.98301 2.75 12.083C2.75 17.183 6.9 21.333 12 21.333C17.1 21.333 21.25 17.183 21.25 12.083C21.25 11.673 21.59 11.333 22 11.333C22.41 11.333 22.75 11.673 22.75 12.083C22.75 18.013 17.93 22.833 12 22.833Z"
                              fill="white"/>
                        <path d="M21 7.83301H17C16.59 7.83301 16.25 7.49301 16.25 7.08301V3.08301C16.25 2.67301 16.59 2.33301 17 2.33301C17.41 2.33301 17.75 2.67301 17.75 3.08301V6.33301H21C21.41 6.33301 21.75 6.67301 21.75 7.08301C21.75 7.49301 21.41 7.83301 21 7.83301Z"
                              fill="white"/>
                        <path d="M16.9995 7.83344C16.8095 7.83344 16.6195 7.76344 16.4695 7.61344C16.1795 7.32344 16.1795 6.84344 16.4695 6.55344L21.4695 1.55344C21.7595 1.26344 22.2395 1.26344 22.5295 1.55344C22.8195 1.84344 22.8195 2.32344 22.5295 2.61344L17.5295 7.61344C17.3795 7.76344 17.1895 7.83344 16.9995 7.83344Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Мои курсы</div>
            </button>
            <button class="category butt_padding" formaction="/student/subjects/">
                <div class="icon">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 22.917H9C3.57 22.917 1.25 20.597 1.25 15.167V9.16699C1.25 3.73699 3.57 1.41699 9 1.41699H15C20.43 1.41699 22.75 3.73699 22.75 9.16699V15.167C22.75 20.597 20.43 22.917 15 22.917ZM9 2.91699C4.39 2.91699 2.75 4.55699 2.75 9.16699V15.167C2.75 19.777 4.39 21.417 9 21.417H15C19.61 21.417 21.25 19.777 21.25 15.167V9.16699C21.25 4.55699 19.61 2.91699 15 2.91699H9Z"
                              fill="white"/>
                        <path d="M12.0006 13.2467C11.8706 13.2467 11.7406 13.2167 11.6206 13.1467L6.32061 10.0867C5.96061 9.87669 5.84059 9.41669 6.05059 9.06669C6.26059 8.70669 6.72061 8.58669 7.07061 8.79669L11.9906 11.6467L16.8806 8.81669C17.2406 8.60669 17.7006 8.73669 17.9006 9.08669C18.1006 9.43669 17.9806 9.90669 17.6306 10.1067L12.3706 13.1467C12.2606 13.2067 12.1306 13.2467 12.0006 13.2467Z"
                              fill="white"/>
                        <path d="M12 18.6871C11.59 18.6871 11.25 18.3471 11.25 17.9371V12.4971C11.25 12.0871 11.59 11.7471 12 11.7471C12.41 11.7471 12.75 12.0871 12.75 12.4971V17.9371C12.75 18.3471 12.41 18.6871 12 18.6871Z"
                              fill="white"/>
                        <path d="M12.0002 18.9168C11.4202 18.9168 10.8503 18.7868 10.3903 18.5368L7.19025 16.7568C6.23025 16.2268 5.49023 14.9568 5.49023 13.8568V10.4668C5.49023 9.37681 6.24025 8.1068 7.19025 7.5668L10.3903 5.7868C11.3103 5.2768 12.6902 5.2768 13.6102 5.7868L16.8102 7.5668C17.7702 8.0968 18.5103 9.36681 18.5103 10.4668V13.8568C18.5103 14.9468 17.7602 16.2168 16.8102 16.7568L13.6102 18.5368C13.1502 18.7968 12.5802 18.9168 12.0002 18.9168ZM12.0002 6.9168C11.6702 6.9168 11.3502 6.9768 11.1202 7.1068L7.92026 8.8868C7.43026 9.1568 6.99023 9.9168 6.99023 10.4668V13.8568C6.99023 14.4168 7.43026 15.1668 7.92026 15.4368L11.1202 17.2168C11.5802 17.4768 12.4202 17.4768 12.8802 17.2168L16.0802 15.4368C16.5702 15.1668 17.0103 14.4068 17.0103 13.8568V10.4668C17.0103 9.90681 16.5702 9.1568 16.0802 8.8868L12.8802 7.1068C12.6502 6.9768 12.3302 6.9168 12.0002 6.9168Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Ресурсы</div>
            </button>
            <button class="category butt_padding" formaction="/student/subjects/">
                <div class="icon">
                    <svg width="187" height="32" viewBox="0 0 187 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.27 23H4.23C2.22 23 1.25 22.07 1.25 20.15V4.35C1.25 2.43 2.23 1.5 4.23 1.5H8.27C10.28 1.5 11.25 2.43 11.25 4.35V20.15C11.25 22.07 10.27 23 8.27 23ZM4.23 3C2.96 3 2.75 3.34 2.75 4.35V20.15C2.75 21.16 2.96 21.5 4.23 21.5H8.27C9.54 21.5 9.75 21.16 9.75 20.15V4.35C9.75 3.34 9.54 3 8.27 3H4.23Z"
                              fill="white"/>
                        <path d="M19.77 14H15.73C13.72 14 12.75 13.07 12.75 11.15V4.35C12.75 2.43 13.73 1.5 15.73 1.5H19.77C21.78 1.5 22.75 2.43 22.75 4.35V11.15C22.75 13.07 21.77 14 19.77 14ZM15.73 3C14.46 3 14.25 3.34 14.25 4.35V11.15C14.25 12.16 14.46 12.5 15.73 12.5H19.77C21.04 12.5 21.25 12.16 21.25 11.15V4.35C21.25 3.34 21.04 3 19.77 3H15.73Z"
                              fill="white"/>
                        <path d="M19.77 23H15.73C13.72 23 12.75 22.07 12.75 20.15V18.35C12.75 16.43 13.73 15.5 15.73 15.5H19.77C21.78 15.5 22.75 16.43 22.75 18.35V20.15C22.75 22.07 21.77 23 19.77 23ZM15.73 17C14.46 17 14.25 17.34 14.25 18.35V20.15C14.25 21.16 14.46 21.5 15.73 21.5H19.77C21.04 21.5 21.25 21.16 21.25 20.15V18.35C21.25 17.34 21.04 17 19.77 17H15.73Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Об образовании</div>
            </button>
            <button class="category butt_padding" formaction="/student/subjects/">
                <div class="icon">
                    <svg width="140" height="25" viewBox="0 0 140 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 23.667H9C3.57 23.667 1.25 21.347 1.25 15.917V9.91699C1.25 4.48699 3.57 2.16699 9 2.16699H15C20.43 2.16699 22.75 4.48699 22.75 9.91699V15.917C22.75 21.347 20.43 23.667 15 23.667ZM9 3.66699C4.39 3.66699 2.75 5.30699 2.75 9.91699V15.917C2.75 20.527 4.39 22.167 9 22.167H15C19.61 22.167 21.25 20.527 21.25 15.917V9.91699C21.25 5.30699 19.61 3.66699 15 3.66699H9Z"
                              fill="white"/>
                        <path d="M15.5801 20.1676C15.1701 20.1676 14.8301 19.8276 14.8301 19.4176V15.5176C14.8301 15.1076 15.1701 14.7676 15.5801 14.7676C15.9901 14.7676 16.3301 15.1076 16.3301 15.5176V19.4176C16.3301 19.8276 15.9901 20.1676 15.5801 20.1676Z"
                              fill="white"/>
                        <path d="M15.5801 9.11699C15.1701 9.11699 14.8301 8.77699 14.8301 8.36699V6.41699C14.8301 6.00699 15.1701 5.66699 15.5801 5.66699C15.9901 5.66699 16.3301 6.00699 16.3301 6.41699V8.36699C16.3301 8.77699 15.9901 9.11699 15.5801 9.11699Z"
                              fill="white"/>
                        <path d="M15.5805 14.3172C13.7305 14.3172 12.2305 12.8172 12.2305 10.9672C12.2305 9.11719 13.7305 7.61719 15.5805 7.61719C17.4305 7.61719 18.9305 9.11719 18.9305 10.9672C18.9305 12.8172 17.4205 14.3172 15.5805 14.3172ZM15.5805 9.11719C14.5605 9.11719 13.7305 9.94719 13.7305 10.9672C13.7305 11.9872 14.5605 12.8172 15.5805 12.8172C16.6005 12.8172 17.4305 11.9872 17.4305 10.9672C17.4305 9.94719 16.5905 9.11719 15.5805 9.11719Z"
                              fill="white"/>
                        <path d="M8.41992 20.1668C8.00992 20.1668 7.66992 19.8268 7.66992 19.4168V17.4668C7.66992 17.0568 8.00992 16.7168 8.41992 16.7168C8.82992 16.7168 9.16992 17.0568 9.16992 17.4668V19.4168C9.16992 19.8268 8.83992 20.1668 8.41992 20.1668Z"
                              fill="white"/>
                        <path d="M8.41992 11.067C8.00992 11.067 7.66992 10.727 7.66992 10.317V6.41699C7.66992 6.00699 8.00992 5.66699 8.41992 5.66699C8.82992 5.66699 9.16992 6.00699 9.16992 6.41699V10.317C9.16992 10.727 8.83992 11.067 8.41992 11.067Z"
                              fill="white"/>
                        <path d="M8.42031 18.2176C6.57031 18.2176 5.07031 16.7176 5.07031 14.8676C5.07031 13.0176 6.57031 11.5176 8.42031 11.5176C10.2703 11.5176 11.7703 13.0176 11.7703 14.8676C11.7703 16.7176 10.2703 18.2176 8.42031 18.2176ZM8.42031 13.0176C7.40031 13.0176 6.57031 13.8476 6.57031 14.8676C6.57031 15.8876 7.40031 16.7176 8.42031 16.7176C9.44031 16.7176 10.2703 15.8876 10.2703 14.8676C10.2703 13.8476 9.45031 13.0176 8.42031 13.0176Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Настройки</div>
            </button>
            <button class="category butt_padding" formaction="/student/subjects/">
                <div class="icon">
                    <svg width="123" height="24" viewBox="0 0 123 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12.75C8.83 12.75 6.25 10.17 6.25 7C6.25 3.83 8.83 1.25 12 1.25C15.17 1.25 17.75 3.83 17.75 7C17.75 10.17 15.17 12.75 12 12.75ZM12 2.75C9.66 2.75 7.75 4.66 7.75 7C7.75 9.34 9.66 11.25 12 11.25C14.34 11.25 16.25 9.34 16.25 7C16.25 4.66 14.34 2.75 12 2.75Z"
                              fill="white"/>
                        <path d="M20.5901 22.75C20.1801 22.75 19.8401 22.41 19.8401 22C19.8401 18.55 16.3202 15.75 12.0002 15.75C7.68015 15.75 4.16016 18.55 4.16016 22C4.16016 22.41 3.82016 22.75 3.41016 22.75C3.00016 22.75 2.66016 22.41 2.66016 22C2.66016 17.73 6.85015 14.25 12.0002 14.25C17.1502 14.25 21.3401 17.73 21.3401 22C21.3401 22.41 21.0001 22.75 20.5901 22.75Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">Профиль</div>
            </button>
        </div>

        <button class="logout" formaction="/logout">
            <div class="logout-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.2386 22.2695H15.1086C10.6686 22.2695 8.52855 20.5195 8.15855 16.5995C8.11855 16.1895 8.41855 15.8195 8.83855 15.7795C9.23855 15.7395 9.61855 16.0495 9.65855 16.4595C9.94855 19.5995 11.4286 20.7695 15.1186 20.7695H15.2486C19.3186 20.7695 20.7586 19.3295 20.7586 15.2595V8.73949C20.7586 4.66949 19.3186 3.22949 15.2486 3.22949H15.1186C11.4086 3.22949 9.92855 4.41949 9.65855 7.61949C9.60855 8.02949 9.25855 8.33949 8.83855 8.29949C8.41855 8.26949 8.11855 7.89949 8.14855 7.48949C8.48855 3.50949 10.6386 1.72949 15.1086 1.72949H15.2386C20.1486 1.72949 22.2486 3.82949 22.2486 8.73949V15.2595C22.2486 20.1695 20.1486 22.2695 15.2386 22.2695Z"
                          fill="white"/>
                    <path d="M14.9991 12.75H3.61914C3.20914 12.75 2.86914 12.41 2.86914 12C2.86914 11.59 3.20914 11.25 3.61914 11.25H14.9991C15.4091 11.25 15.7491 11.59 15.7491 12C15.7491 12.41 15.4091 12.75 14.9991 12.75Z"
                          fill="white"/>
                    <path d="M5.84945 16.0998C5.65945 16.0998 5.46945 16.0298 5.31945 15.8798L1.96945 12.5298C1.67945 12.2398 1.67945 11.7598 1.96945 11.4698L5.31945 8.11984C5.60945 7.82984 6.08945 7.82984 6.37945 8.11984C6.66945 8.40984 6.66945 8.88984 6.37945 9.17984L3.55945 11.9998L6.37945 14.8198C6.66945 15.1098 6.66945 15.5898 6.37945 15.8798C6.23945 16.0298 6.03945 16.0998 5.84945 16.0998Z"
                          fill="white"/>
                </svg>
            </div>
            <div class="logout-text">Выход</div>
        </button>
    </div>
</form>

{% block content %}{% endblock content %}

