{% macro render_statistic(years_over, completed_courses, total_score) %}

<style>
    :root {
      --container-width: 200px;
      --container-height: 200px;
      --background-color: black;
      --text-color: #42A55E;
      --number-font-size: 96px;
      --label-font-size: 24px;
      --border-radius: 10px;
    }
    .stat {
    display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 1%;
      }
    .container {
      width: var(--container-width);
      height: var(--container-height);
      background: var(--background-color);
      border-radius: var(--border-radius);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      margin: 1%;
    }

    .number,
    .label {
      width: 90%;
      text-align: center;
      color: var(--text-color);
      font-family: Inter;
      word-wrap: break-word;
    }


    .number {
      font-size: var(--number-font-size);
      font-weight: 600;
    }

    .label {
      font-size: var(--label-font-size);
      height:60px;
      font-weight: 600;
    }
</style>

<div class="stat">
    <div class="container">
        <div class="number">{{ years_over }}</div>
        <div class="label">Курс</div>
    </div>
    <div class="container">
        <div class="number">{{ years_over }}</div>
        <div class="label">Семетра осталось</div>
    </div>
    <div class="container">
        <div class="number">{{ completed_courses }}</div>
        <div class="label">Пройденные дисциплины</div>
    </div>
    <div class="container">
        <div class="number">{{ total_score }}</div>
        <div class="label">Средний балл</div>
    </div>
</div>
{% endmacro %}