{% macro render_stat3(skill_dicts) %}
<style>
    .container-gr {
        width: 500px;
        height: 600px;
        padding: 20px;
        background: black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: flex-start;
        justify-content: space-evenly;
    }

        .top-skills {
          color: #DADADD;
          width: 100%;
          font-size: 36px;
          font-family: Harmattan;
          font-weight: 400;
          word-wrap: break-word;
          display: flex;
          justify-content: center;
        }

        .skill {
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          gap: 2px;
          padding: 2px;
        }

        .skill-name {
          color: white;
          font-size: 24px;
          font-family: ABeeZee;
          font-weight: 400;
          line-height: 24px;
          word-wrap: break-word;
          padding-left: 16px;
        }

        .progress-gr {
          display: flex;
          align-items: center;
          gap: 11px;
          padding-left: 16px;
        }

        .progress-bar {
          height: 50px;
          border-radius: 10px;
          background: linear-gradient(180deg, #007CC2 0%, #9565FF 100%);
          overflow: hidden;
          display: flex;
          justify-content: flex-start;
        }

        .progress-fill {
          height: 100%;
          background: linear-gradient(180deg, #007CC2 0%, #9565FF 100%);
        }

        .progress-percent {
          color: #70707B;
          font-size: 12px;
          font-family: Inter;
          font-weight: 400;
          line-height: 12px;
          word-wrap: break-word;
        }

        .view-all {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          left: 50%;
          padding: 10px 24px;
        }

        .view-all-text {
          width: 340px;
          height: 45px;
          background: #333333;
          border-radius: 12px;
          color: white;
          font-size: 16px;
          font-family: Inter;
          font-weight: 500;
          word-wrap: break-word;
          display: flex;
          justify-content: center;
          align-items: center;
        }
</style>
<div class="container-gr">
    <div class="top-skills">Топ 5 навыков</div>
    {% for res in skill_dicts %}

    <div class="skill-name">{{res["skill_id"]}}</div>
    <div class="progress-gr">
        <div class="progress-bar">
            <div class="progress-fill" style=" width: {{res['percent']*4.5}}px; "></div>
        </div>
        <div class="progress-percent">{{ res['percent'] }}%</div>
    </div>

    {% endfor %}
    <div class="view-all">
        <button class="view-all-text">Посмотреть все</button>
    </div>
</div>
{% endmacro %}