{% macro render_stat2(dict_results) %}
<style>
    .container-tests {
      width: 500px;
      height: 600px;
      padding: 20px;
      background: black;
      border-radius: 20px;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      display: inline-flex;
    }

    .header-statistic {
      color: #DADADD;
      width: 100%;
      font-size: 36px;
      font-family: Harmattan;
      font-weight: 400;
      word-wrap: break-word;
       display: flex;
       justify-content: center;
    }

    .section {
      width: 387px;
      height: 75px;
      position: relative;
      background: #333333;
      border-radius: 10px;
    }

    .badge {
      width: 90px;
      height: 27px;
      padding: 4px 10px;
      position: relative;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
      left: 12px;
      top: 10px;
      background: #980000;
    }

    .badge-text {
      color: white;
      font-size: 16px;
      font-family: Inter;
      font-weight: 600;
      text-transform: capitalize;
      word-wrap: break-word;
    }

    .title-text {
      position: absolute;
      color: white;
      font-size: 16px;
      font-family: Inter;
      font-weight: 600;
      text-transform: capitalize;
      word-wrap: break-word;
      left: 124px;
      top: 14px;
    }

    .score-container {
      width: 80px;
      height: 46px;
      position: absolute;
      left: 310px;
      top: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start
    }

    .score-tests {
      color: white;
      font-size: 16px;
      font-family: Inter;
      font-weight: 600;
      text-transform: capitalize;
      word-wrap: break-word;
    }

    .grade {
      font-size: 14px;
      font-family: Inter;
      font-weight: 500;
      text-transform: capitalize;
      word-wrap: break-word;
    }

    .progress-bar-container {
      width: 351.46px;
      height: 9.27px;
      left: 11.85px;
      top: 55.77px;
      position: absolute;
    }

    .progress-bar-gr {
      width: 99%;
      height: 100%;
      position: absolute;
      background: white;
      border-radius: 100px;
    }

    .progress-fill-test {
      height: 10px;
      position: absolute;
      background: var(--progress-fill-bg-color);
      border-radius: 100px;
    }

    .view-all {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      left: 50%;
      padding: 10px 24px;
    }

    .view-all-text {
      width: 340px;
      height: 45px;
      background: #333333;
      border-radius: 12px;
      color: white;
      font-size: 16px;
      font-family: Inter;
      font-weight: 500;
      word-wrap: break-word;
      display: flex;
      justify-content: center;
      align-items: center;
    }
</style>
<div class="container-tests">
    <div class="header-statistic">Последние тесты</div>
    {% for res in dict_results %}

    <div class="section" style="--progress-fill-bg-color: #980000;">
        <div class="badge" style="background: {{ res[' color '] }}">
            <div class="badge-text">{{ res["course_id"] }}</div>
        </div>

        <div class="title-text">{{ res["collection_name"] }}</div>

        <div class="score-container">
            <div class="score-tests">{{ res["total_points"] }}/{{ res["successful_points"] }}</div>
            <div class="grade"
                 style="{% if res['grade'] == 'ОТЛ' %}color: #42FF00;{% elif res['grade'] == 'ХОР' %}color: #FFFF00;{% elif res['grade'] == 'УДОВЛ' %}color: #FFA500;{% elif res['grade'] == 'НЕУД' %}color: #FF0000;{% endif %}">
                {{ res['grade'] }}
            </div>
        </div>

        <div class="progress-bar-container">
            <div class="progress-bar-gr">
                <div class="progress-fill-test" style="width: {{ res[' percent '] }}%; background: {{ res['color'] }}">
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="view-all">
        <button class="view-all-text">Посмотреть все</button>
    </div>
</div>
{% endmacro %}