{% macro render_sub(course) %}
<style>
    .card-container {
      width: 350px;
      height: 300px;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      background: black;
      box-shadow: 12px 24px 80px rgba(30, 30, 42, 0.08);
      border-radius: 20px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      display: inline-flex;
      margin:30px;
      box-shadow: 12px 24px 80px rgba(30, 30, 42, 0.08);
    }

    .spacer {
      width: 300px;
      height: 11px;
    }

    .content {
      width: 300px;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      display: inline-flex;
    }

    .content-text {
      width: 300px;
      text-align: center;
      color: white;
      font-size: 24px;
      font-family: ABeeZee;
      font-weight: 400;
      line-height: 24px;
      word-wrap: break-word;
    }

    .progress-container {
      width: 300px;
      height: 61px;
      justify-content: center;
      align-items: center;
      gap: 32px;
      display: inline-flex;
    }

    .progress-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    }

    .progress-percent {
      color: white;
      font-size: 24px;
      font-family: Rubik;
      font-weight: 700;
      line-height: 36px;
      word-wrap: break-word;
    }

    .progress-label {
      color: white;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 600;
      line-height: 24px;
      word-wrap: break-word;
    }

    .average-score {
      height: 32px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      display: flex;
    }

    .average-score-container {
      align-self: stretch;
      height: 32px;
      padding-top: 4px;
      padding-bottom: 4px;
      background: rgba(0, 0, 0, 0);
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }

    .average-score-text {
      flex: 1 1 0;
      height: 18px;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      display: flex;
      color: #8B8CA7;
      font-size: 18px;
      font-family: Poppins;
      font-weight: 400;
      line-height: 18px;
      word-wrap: break-word;
    }

    .average-score-value {
      height: 18px;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
      display: flex;
      opacity: 0.40;
      text-align: right;
      color: white;
      font-size: 18px;
      font-family: Poppins;
      font-weight: 400;
      line-height: 18px;
      word-wrap: break-word;
    }

    .continue-button {
      width: 70%;
      height: 10%;
      padding-left: 40px;
      padding-right: 40px;
      background: #E66000;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 11px;
      display: inline-flex;
    }

    .continue-button-text {
      color: white;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 700;
      line-height: 24px;
      word-wrap: break-word;
    }
    .butt{
          width: 100%;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    display: inline-flex;
    }
</style>
<body>
<div class="card-container">
    <div class="spacer"></div>
    <div class="content">
        <div class="content-text">{{ course["course_fullname"] }}</div>
    </div>
    <div class="progress-container">
        <div class="progress-content">
            <div class="progress-percent">{{ course["complete_percent"] }}%</div>
            <div class="progress-label">Пройдено</div>
        </div>
    </div>
    <div class="average-score">
        <div class="average-score-container">
            <div class="average-score-text">Средний балл</div>
            <div class="average-score-value">{{ course["avg_score"] }}</div>
        </div>
    </div>
    <form action="/student/subjects/{{ course['course_id'] }}" class="butt" method="get">
        <button class=" butt continue-button-text" style="background:{{ course['color'] }};">Продолжить</button>
    </form>
</div>
</body>
{% endmacro %}