{% macro render_groups(group) %}
<style>

    .container {
      width: 100%;
      height: 100px;
      background: black;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px
    }

    .total-score{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 54px;
      width: 200px;
    }
    .form_width{
      width: 70%
    }

</style>
<form action="/teacher/subjects/{{ group['course_id'] }}/{{ group['group_id'] }}" class="form_width" method="get">
    <button class="container">
        <div class="total-score">{{ group["group_name"] }}</div>
        <div class="total-score">{{ group["avg_score"] }}</div>
        <div class="total-score">{{ group["avg_score_last_test"] }}</div>
        <div class="total-score">
            <svg width="44" height="69" viewBox="0 0 44 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.1 63.6L38.0 34.6L5.0 5.7" stroke="white" stroke-width="10" stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
        </div>
    </button>
</form>
{% endmacro %}