{% macro render_course(course) %}
<style>
    .container-sub {
      width: 350px;
      height: 300px;
      background: black;
      box-shadow: 12px 24px 80px rgba(30, 30, 42, 0.08);
      border-radius: 20px;
      margin:30px;
      padding: 20px;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      display: inline-flex;
    }
    .title {
      width: 300px;
      height: 100px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    }
    .button {
      width: 300px;
      height: 45px;
      padding-left: 40px;
      padding-right: 40px;
      background: #00575D;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 11px;
      display: inline-flex;
      color: white;
      font-size: 20px;
      font-family: Poppins;
      font-weight: 700;
      line-height: 24px;
      word-wrap: break-word;
    }
</style>
<div class="container-sub">
    <div class="title">{{ course["fullname"]}}</div>
    <form action="/teacher/subjects/{{ course['course_id'] }}" class="butt" method="get">
        <button class="button" style="background:{{ course['color'] }};">Просмотр курса</button>
    </form>
</div>
{% endmacro %}