{% macro render_tests_all(test) %}
<style>
    .container {
      width: 70%;
      height: 100px;
      background: black;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      margin: 10px
    }

    .score {
      display: flex;
      align-items: center;
      justify-content: space-between
    }

    .total-score {
      color: white;
      font-size: 24px;
      font-family: Inter;
      font-weight: 600;
      line-height: 20px;
      margin:  10px;
    }

    .title-pz {
      display: flex;
      align-items: center;
            color: white;
      font-size: 36px;
      font-family: Inter;
      font-weight: 400;
      line-height: 24px;
      margin:10px;
    }

    .value-act {
    color: white;
    font-size: 24px;
    width: 200px;
    height: 50px;
    background: #42A55E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  10px;
    background: #192DE3;
    }
</style>

<form class="container" action="/student/subjects/get_test/{{ test['course_id'] }}/ {{ test['collection_name'] }}"
      method="get">
    <div class="title-pz">{{ test['collection_name'] }}</div>
    <div class="score">>и
        <button class="value-act">ПРОЙТИ</button>
    </div>
</form>
{% endmacro %}