{% macro render_tests(test) %}
<style>
    .container {
      width: 70%;
      height: 100px;
      background: black;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      margin: 10px
    }

    .score {
      display: flex;
      align-items: center;
      justify-content: space-between
    }

    .total-score {
      color: white;
      font-size: 24px;
      font-family: Inter;
      font-weight: 600;
      line-height: 20px;
      margin:  10px;
    }

    .title-pz {
      display: flex;
      align-items: center;
            color: white;
      font-size: 36px;
      font-family: Inter;
      font-weight: 400;
      line-height: 24px;
      margin:10px;
    }

    .value {
    color: white;
    font-size: 24px;
    width: 100px;
    height: 50px;
    background: #42A55E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  10px;
    }
</style>

<div class="container">
    <div class="title-pz">{{ test['collection_name'] }}</div>
    <div class="score">>
        <div class="total-score">{{ test['successful_points'] }}/{{ test['total_points'] }}</div>
        <div class="value"
             style="{% if test['grade'] == 'ОТЛ' %}background: #42FF00;{% elif test['grade'] == 'ХОР' %}background: #42A55E;{% elif test['grade'] == 'УДОВЛ' %}background: #CF8900;{% elif test['grade'] == 'НЕУД' %}background: #AD2020;{% endif %}">
            {{ test['grade'] }}
        </div>
    </div>
</div>
{% endmacro %}