<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between
    }

    .cont-2 {
      width:  calc(90% - 320px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-left: 5%;
      margin-right: 5%;
      padding: 20px;
      border-radius: 8px;
    }

.question {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.question h3 {
  color: #333;
}

/* Стили для списка ответов */
.answers-list {
  list-style-type: none;
  padding: 0;
}

.answers-list li {
  margin-bottom: 10px;
}

.submit-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

</style>

<body>
<div class="cont">
    {% include './components/navbar.html' %}
    <div class="cont-2">
        <h1>{{ test_fullname }}</h1>
        <form action="/student/subjects/check_test" method="post">
            {% for question in questions %}
            <div class="question">
                <h3>{{ question["header"] }}</h3>
                <ul class="answers-list">
                    {% for answer in question["answers_dict"] %}
                    <li>
                        <label ><input type="checkbox" id="answer_{{ loop.index }}" name="answers"
                               value="{{ question['question_id'] }} {{ answer }}">{{ answer }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <input type="hidden" name="questions_id_list"
                   value="{% for quest in questions %}{{ quest['question_id'] }}+{{ quest['skill'] }}{% if not loop.last %},{% endif %}{% endfor %}">

            <input type="hidden" name="collection_name" value="{{ collection_name }}">
            <input type="hidden" name="course_id" value="{{ course_id }}">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>
</body>

</html>