<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between
    }
    .cont-2 {
      width:  calc(100% - 320px);
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column
    }
    .cont-3 {
    width:  100%;
    }
    .cont-4 {
    width:  100%;

      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      display: inline-flex;
      margin: 1%;
    }
</style>

<body>
<div class="cont">
    {% include './components/navbar.html' %}
    <div class="cont-2">
        <div class="cont-3">
            {% from './components/stat1.html' import render_statistic %}
            {% from './components/stat2.html' import render_stat2 %}
            {% from './components/stat3.html' import render_stat3 %}
            {% block content %}
            {{ render_statistic(auth_user["years_over"], auth_user["completed_courses"], auth_user["total_score"]) }}

        </div>
        <div class="cont-4">
            {{ render_stat2(tests_dicts) }}
            {{ render_stat3(skill_dicts) }}

            {% endblock %}
        </div>
    </div>

</div>

</body>
</html>


