<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between
    }

    .cont-2 {
      width:  calc(100% - 320px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 10%
    }
</style>
<body>
<div class="cont">
    {% include './components/navbar.html' %}
    <div class="cont-2">
        {% from './components/tests.html' import render_tests %}
        {% from './components/test-active.html' import render_tests_all %}
        {% block content %}

        {% for test in tests_dicts %}
        {{ render_tests(test) }}
        {% endfor %}

        {% for test_all in all_tests_dicts %}
        {{ render_tests_all(test_all) }}
        {% endfor %}

        {% endblock %}
    </div>
</div>
</body>
</html>


