<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .cont{
      display: flex;
      justify-content: space-between;
      color: white;
    }

    .cont-2 {
      width:  calc(90% - 320px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-left: 5%;
      margin-right: 5%;
      padding: 20px;
      border-radius: 8px;
      font-size: 20px;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }


</style>

<body>
<div class="cont">
    {% include './components/navbar.html' %}
    <div class="cont-2"><br>
        <h1>Результаты теста</h1>

        <p>Полученные баллы: {{ total_res_quest }}</p>
        <p>Общее количество баллов: {{ total_quest_score }}</p>

        <h2>Баллы за каждый вопрос:</h2>
        <table>
            <thead>
            <tr>
                <th>Номер вопроса</th>
                <th>Полученные баллы</th>
                <th>Всего баллов</th>
            </tr>
            </thead>
            <tbody>
            {% for question_id, scores in question_score_dict.items() %}
            <tr>
                <td>{{ question_id }}</td>
                <td>{{ scores[0] }}</td>
                <td>{{ scores[1] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Оценка: {{ mark }}</h1>
    </div>
</div>
</body>

<body>

</body>

</html>