<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Element</title>
</head>
{% set svgCode %}
<style>
    .element {
        width: 80%;
        margin: 5px;
    }
    .custom-element {
        width: 100%;
        height: 50px;
        background: #1D1D1D;
        border-radius: 10px;
        color: white;
        font-size: 24px;
        font-family: ABeeZee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .cont{

    }
    .cont-2 {

      width:  calc(100% - 320px);
      height: 100%;
      position: absolute;
      left:320px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5%;
    }
    .block {
        width: calc(100% - 320px);
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        display: inline-flex;
        margin: 1%;
        flex-direction: column;
    }
</style>
<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 9.8.5 5.9 2.1" fill="white"/>
        <path d="M1.5 9.8L9.5 5.99675L1.5 2.1" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
{% endset %}
<body>
    <div class="cont">
        {% include './components/navbar-teacher.html' %}
        <div class="cont-2">
        <div class="block">
            <form action="/admin/add_student" class="element" method="get">
                <button class="custom-element">
                    <div>Добавление студента</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_role" class="element" method="get">
                <button class="custom-element">
                    <div>Создать роль</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_speciality" class="element" method="get">
                <button class="custom-element">
                    <div>Создать специальнось</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_group" class="element" method="get">
            <button class="custom-element">
                <div>Добавить группу</div>
                 {{ svgCode | safe }}
            </button>
            </form>
            <form action="/admin/add_course" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить курс</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_kathedra" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить кафедру</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_teacher" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить преподавателя</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_skill" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить навык</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_test_stat" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить статистику по тесту</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_course_speciality" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь предмет специальность</div>
                     {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_course_skill" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь предмет навык</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_teacher_course" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь преподаватель курс</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_course_group" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь предмет группа</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_test_group_course" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь тест для группы</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            </form>
            <form action="/admin/add_student_course" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь студент курс</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_student_skill" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить связь студент навык</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_question_stat" class="element" method="get">
                <button class="custom-element">
                    <div>Добавить статистику по вопросам</div>
                    {{ svgCode | safe }}
                </button>
            </form>
            <form action="/admin/add_excel" class="element" method="get">
                <button class="custom-element">
                <div>Добавить при помощи файла шаблона</div>
                    {{ svgCode | safe }}
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>